@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="test col-md-1"><a asp-area="" asp-controller="busy" asp-action="Index">Busy indicator</a></div>
        <div class="test col-md-1"><a asp-area="" asp-controller="canvas" asp-action="Index">Canvas</a></div>
    </div>
