@model AspNetCoreMVC.Models.Canvas.ViewModel

@{
    ViewData["Title"] = "Canvas";
}

<div style="margin:10px">
    <canvas id="canvas" width="500" height="500" style="border:1px solid #000000;"></canvas>
</div>

<button id="undo">oops</button>

@section Scripts{
    <script src="~/js/canvas.js"></script>
}