@model AspNetCoreMVC.Models.Canvas.ViewModel

@{
    ViewData["Title"] = "Canvas";
}

<h2>Canvas</h2>

<canvas id="canvas" width="500" height="500" style="border:1px solid #000000;"></canvas>
<button id="undo">oops</button>

@section Scripts{

    @*
        Disable 'save image...' stuff
    *@
    <script>
        $("#canvas").bind('contextmenu', function (e) {
            return false;
        });
    </script>

    <script>
        var context = $("#canvas")[0].getContext("2d");

        var paint = false;
        var startX;
        var startY;
        var endX;
        var endY;

        var redactions = new Array();

        var imageSource = new Image();
        imageSource.onload = function () { redraw(); }
        imageSource.src = "/images/canvas-buffer/x.jpg";

        function redraw() {
            //console.log("w: " + imageSource.width + ", h: " + imageSource.height);

            context.canvas.width = imageSource.width;
            context.canvas.height = imageSource.height;
            context.clearRect(0, 0, context.canvas.width, context.canvas.height);
            context.drawImage(imageSource, 0, 0, context.canvas.width, context.canvas.height);


            for (var i = 0; i < redactions.length; i++) {
                context.beginPath();
                context.fillStyle = "#0000FF";
                context.fillRect(redactions[i].x, redactions[i].y, redactions[i].w, redactions[i].h);
                context.stroke();
            }

            //console.log("context.canvas.width: " + context.canvas.width + ", context.canvas.height: " + context.canvas.height);
        }


        function onDrag() {
            redraw();

            context.beginPath();
            context.fillStyle = "#FF0000";
            context.fillRect(startX, startY, endX - startX, endY - startY);
            context.stroke();
        }

        $('#canvas').mousedown(function (e) {
            // Left mouse button
            if (e.button === 0) {
                paint = true;

                startX = e.pageX - this.offsetLeft;
                startY = e.pageY - this.offsetTop;
                endX = startX;
                endY = startY;

                console.log("start-drag (" + startX + ", " + startY + ")");

                onDrag();
            }
        });

        $('#canvas').mousemove(function (e) {
            if (paint) {
                endX = e.pageX - this.offsetLeft;
                endY = e.pageY - this.offsetTop;
                onDrag();
            }
        });

        $('#canvas').mouseup(function (e) {
            paint = false;

            console.log("redact: (" + startX + ", " + startY + ") -> (" + endX + ", " + endY + ")");

            redactions.push({
                x: startX,
                y: startY,
                w: endX - startX,
                h: endY - startY
            });

            redraw();
        });

        $('#canvas').mouseleave(function (e) {
            if (paint) {
                paint = false;
                redraw();
            }
        });
    </script>

    <script>
        $("#undo").click(function () {
            redactions.pop();
            redraw();
        });
    </script>
}